/* Site: Hussain Raja Portfolio
	Author: Hussain Raja
	Date: February 10th, 2008 
*/

body 	{background-color:#000000;
		background-image:url(../images/background/bg_image.jpg);
		background-repeat:no-repeat;
		background-position:center;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		margin-top:0px;
		margin-left:0px;
		}
		
h2 		{padding:0px; margin:0px; font-size:15px; color:#2d54f7;}
h3 		{padding-top:10px; padding-bottom:0px; margin:0px; font-size:13px; color:#797979;}

/* ie fix */
img, div { behavior: url(iepngfix.htc) }

/* site layout */

div#global {position:relative;
			margin-left:auto;
			margin-right:auto;
			width:885px;
			}
			
.banner		{position:relative;
			 width:885px;
			 height:49px;
			 background-image:url(../images/background/banner.png);
			 background-repeat:repeat-x;
			 }

.footer		{position:relative;
			 background-image:url(../images/background/footer.png);
			 background-repeat:no-repeat;
			 width:886px;
			 height:41px;
			 top:10px;
			 float:right;
			 padding-bottom:10px;
			 }
			 
.footer_txt	{display:block;
		     padding-top:13px;
			 font-family:Arial, Helvetica, sans-serif;
			 font-size:12px;
			 color:#2d54f7;
			 text-align:center;
			 }
			 
.logo		{position:relative;
			 width:135px;
			 height:25px;
			 top:9px;
			 left:41px;
			 }
			 
.pdf		 {position:relative;
			  float:right;
			  right:50px;
			  top:0px;}
			 
#description {position:relative;
              width:296px;
			  height:156px;
			  top:0px;
			  left:0px;
			  float:left;
			  padding:0px;
			  border-color:#444444;
			  border-width:1px;
			  border-style:solid;
			  border-left:none;
			  border-top:none;
			  border-bottom:none;
			  }
			  
.dtext		{position:relative;
			 padding-top:10px;
			 padding-left:10px;
			 padding-right:10px;
			 color:#FFFFFF;
			 font-family:Arial, Helvetica, sans-serif;
			 top:0px;
			 left:0px;
			 }

.dtextr		{position:relative;
			 padding-top:0px;
			 padding-left:10px;
			 padding-right:10px;
			 padding-bottom:0px;
			 color:#FFFFFF;
			 font-family:Arial, Helvetica, sans-serif;
			 top:0px;
			 left:28px;
			 }
			  
#description2 {position:relative;
              width:296px;
			  height:156px;
			  top:0px;
			  left:0px;
			  float:left;
			  padding:0px;
			  border-color:#444444;
			  border-width:1px;
			  border-style:solid;
			  border-left:none;
			  border-top:none;
			  border-bottom:none;
			  }

.dtext2		{position:relative;
			 padding-top:10px;
			 padding-left:10px;
			 padding-right:10px;
			 color:#FFFFFF;
			 font-family:Arial, Helvetica, sans-serif;
			 top:0px;
			 left:0px;
			 }
			 
#description3 {position:relative;
              width:290px;
			  height:156px;
			  top:0px;
			  left:0px;
			  float:left;
			  padding:0px;
			  }

.dtext3		{position:relative;
			 padding-top:10px;
			 padding-left:10px;
			 padding-right:10px;
			 color:#FFFFFF;
			 font-family:Arial, Helvetica, sans-serif;
			 top:0px;
			 left:0px;
			 }
			  

			 
#navlist li	{position:relative;
			 display:inline;
			 list-style-type:none;
			 padding-right:20px;
			 padding-top:0px;
			 padding-bottom:0px;
			 top:-8px;
			 left:0px;
			 }

#navlist li a:hover {color:#2d52f3;
					 text-decoration:none;
					 text-transform:uppercase;					
					}			 

			 
#current {color:#254aef;
		  width:55px;
		  height:30px;
 		  text-decoration:none;
		  text-transform:uppercase;
		 }
			 
.content	{position:relative;
			 width:885px;
			 height:auto;
			 left:0px;
	         border-width:1px;
			 border-color:#666666;
			 border-style:solid;
			 border-top:none;
			 border-bottom:none;
			 border-left:none;
			 border-right:none;
			 }
			 
#featured	{position:relative;
			 width:420px;
			 height:284px;
			 top:-9px;
			 left:5px;
			 float:left;
			 color:#FFFFFF;
/*			 background-image:url(../images/thumbnails/aoi.jpg);
			 background-repeat:no-repeat;*/
			 border-color:#444444;
			 border-width:1px;
			 border-style:solid;
			 }

#thumbnails	{position:relative;
			 width:440px;
			 height:284px;
			 float:right;
			 top:-9px;
			 left:0px;
			 color:#FFFFFF;
			 }
			 
#contact	{position:relative;
/*			 background-image:url(../images/background/bg_rpt.jpg);
			 background-repeat:repeat-x;*/
			 background-color:#1c1c1c;
			 width:420px;
			 height:284px;
			 top:-9px;
			 left:5px;
			 float:left;
			 color:#FFFFFF;
			 border-color:#202020;
			 border-width:1px;
			 border-style:solid;
			 }

#form		{position:relative;
/*			 background-image:url(../images/background/bg_rpt.jpg);
			 background-repeat:repeat-x;*/
			 background-color:#1c1c1c;
			 width:440px;
			 height:284px;
			 float:right;
			 top:-9px;
			 left:0px;
			 color:#FFFFFF;
			 border-color:#202020;
			 border-width:1px;
			 border-style:solid;
			 }
			 			 
/* thumbnails */

.t1			{position:relative;
			 background-image:url(../images/background/tbg.jpg);
			 background-repeat:repeat-x;
			 width:138px;
			 height:85px;
			 top:0px;
			 left:-5px;
			 float:left;
			 border-color:#444444;
			 border-width:1px;
			 border-style:solid;			 
			 }
			 
.t2			{position:relative;
			 background-image:url(../images/background/tbg.jpg);
			 background-repeat:repeat-x;
			 width:138px;
			 height:85px;
			 top:0px;
			 left:-155px;
			 float:right;
			 border-color:#444444;
			 border-width:1px;
			 border-style:solid;			 
			 }
			 
.t3			{position:relative;
			 background-image:url(../images/background/tbg.jpg);
			 background-repeat:repeat-x;
			 width:138px;
			 height:85px;
			 top:0px;
			 left:135px;
			 float:right;
			 border-color:#444444;
			 border-width:1px;
			 border-style:solid;			 
			 }
			 
.t4			{position:relative;
			 background-image:url(../images/background/tbg.jpg);
			 background-repeat:repeat-x;
			 width:138px;
			 height:85px;
			 top:13px;
			 left:-5px;
			 float:left;
			 border-color:#444444;
			 border-width:1px;
			 border-style:solid;			 
			 }
			 
.t5			{position:relative;
			 background-image:url(../images/background/tbg.jpg);
			 background-repeat:repeat-x;
			 width:138px;
			 height:85px;
			 top:13px;
			 left:-155px;
			 float:right;
			 border-color:#444444;
			 border-width:1px;
			 border-style:solid;			 
			 }
			 
.t6			{position:relative;
			 background-image:url(../images/background/tbg.jpg);
			 background-repeat:repeat-x;
			 width:138px;
			 height:85px;
			 top:13px;
			 left:135px;
			 float:right;
			 border-color:#444444;
			 border-width:1px;
			 border-style:solid;			 
			 }
			 
.t7			{position:relative;
			 background-image:url(../images/background/tbg.jpg);
			 background-repeat:repeat-x;
			 width:138px;
			 height:85px;
			 top:25px;
			 left:-5px;
			 float:left;
			 border-color:#444444;
			 border-width:1px;
			 border-style:solid;			 
			 }
			 
.t8			{position:relative;
			 background-image:url(../images/background/tbg.jpg);
			 background-repeat:repeat-x;
			 width:138px;
			 height:85px;
			 top:25px;
			 left:-155px;
			 float:right;
			 border-color:#444444;
			 border-width:1px;
			 border-style:solid;			 
			 }
			 
.t9			{position:relative;
			 background-image:url(../images/background/tbg.jpg);
			 background-repeat:repeat-x;
			 width:138px;
			 height:85px;
			 top:25px;
			 left:135px;
			 float:right;
			 border-color:#444444;
			 border-width:1px;
			 border-style:solid;			 
			 }
			 
.bottom  	{position:relative;
			 background-image:url(../images/bottom_bg.jpg);
			 background-repeat:repeat-x;
			 width:885px;
			 height:156px;
			 float:left;
			 top:5px;
			 left:0px;
			 }
			 
a:link 		{color:#FFFFFF;
			 text-decoration:none;
			 text-transform:uppercase;
			 font-weight:bold;
			 }

a:hover		 {color:#3359ff;
			  text-decoration:none;
			  text-transform:uppercase;
			  font-weight:bold;
			  }			 

a:visited 	{color:#ffffff;
			 text-decoration:none;
			 text-transform:uppercase;
			 font-weight:bold;
			 }
			 
			 
			 
			 
#contact a:link 		{color:#FFFFFF;
			 			text-decoration:none;
			 			}

#contact a:hover		{color:#3359ff;
					    text-decoration:none;
 						 }			 

#contact a:visited 		{color:#ffffff;
			 		 	text-decoration:none;
			 			}